html {
    color: black;
    background-color: rgb(0, 0, 0);
}
h1 {
    text-align: center;
    color: black;
}
.class1 {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
}
.form-style-3{
	max-width: 450px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-3 label{
	display:block;
	margin-bottom: 10px;
}
.form-style-3 label > span{
	float: left;
	width: 100px;
	color: black;
	font-weight: bold;
	font-size: 18px;
	text-shadow: 1px 1px 1px rgb(252, 122, 0);
}
.form-style-3 fieldset{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid black;
	padding: 20px;
	background: rgb(252, 122, 0);
	box-shadow: inset 0px 0px 15px rgb(252, 122, 0);
	-moz-box-shadow: inset 0px 0px 15px rgb(252, 122, 0);
	-webkit-box-shadow: inset 0px 0px 15px rgb(252, 122, 0);
}
.form-style-3 fieldset legend{
	color: Black;
	border-top: 1px solid rgb(252, 122, 0);
	border-left: 1px solid rgb(252, 122, 0);
	border-right: 1px solid rgb(252, 122, 0);
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: rgb(252, 122, 0);
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px rgb(252, 122, 0);
	-moz-box-shadow:-0px -1px 2px rgb(252, 122, 0);
	-webkit-box-shadow:-0px -1px 2px rgb(252, 122, 0);
	font-weight: normal;
	font-size: 18px;
}
.form-style-3 textarea{
	width:250px;
	height:100px;
}
.form-style-3 input[type=text],
.form-style-3 input[type=text],
.form-style-3 input[type=number],
.form-style-3 input[type=text],
.form-style-3 input[type=text],
.form-style-3 select, 
.form-style-3 textarea{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid rgb(252, 122, 0);
	outline: none;
	color: Black;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px Black;
	-moz-box-shadow: inset 1px 1px 4px Black;
	-webkit-box-shadow: inset 1px 1px 4px black;
	background: gray;
	width:50%;
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
	background: gray;
	border: 1px solid black;
	padding: 5px 15px 5px 15px;
	color: black;
	box-shadow: inset -1px -1px 3px Black;
	-moz-box-shadow: inset -1px -1px 3px Black;
	-webkit-box-shadow: inset -1px -1px 3px Black;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
}
.required{
	color: Black;
	font-weight:normal;
}

td {
    background-color: rgb(252, 122, 0);
}

.addEntry {
    background: gray;
	border: 1px solid black;
	padding: 5px 15px 5px 15px;
	color: black;
	box-shadow: inset -1px -1px 3px Black;
	-moz-box-shadow: inset -1px -1px 3px Black;
	-webkit-box-shadow: inset -1px -1px 3px Black;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
}